{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - CoinsMarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/account.css' %}">
</head>

<body>
    <div class="header">
        <div class="header-content">
            <h1>CoinsMarket</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-blue w-25">
            <ul class="navbar-nav mr-auto text-white">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Account<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <div class ="alert-container">
            {% if messages %}
                {%for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="user-info">
            <h2>User Information</h2>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Password: ********</p>
            <p>Money balance: {{ user_account.balance }} $</p>
        </div>
        <div class="action-buttons">
            <div class="button-wrapper">
                <a href="{% url 'edit_account' %}" class="m-1 btn btn-primary">Edit account info</a>
                <a href="{% url 'manage_balance' %}" class="m-1 btn btn-primary btn-success">Manage balance</a>
            </div>
            <a class="btn btn-link btn-block" href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>
    <div class="footer">
        &copy; 2023 CoinsMarketApp. All rights reserved.
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
