{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoinsMarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/history.css' %}">
</head>

<body>
    <div class="header">
        <div class="header-content">
            <h1>CoinsMarket</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-blue w-25">
            <ul class="navbar-nav mr-auto text-white">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Search</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">Account</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <div class ="alert-container">
            {% if messages %}
                {%for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="history-wrapper w-sm-50 w-md-25">
            <form class="form-history" method="post">
                {% csrf_token %}
                <h2 class="form-history-heading">History parameters</h2>
                <div class="d-flex justify-content-between">
                    {% if is_deals %}
                        <label class="checkbox">
                            <input type="checkbox" name="deals" checked> Deals
                        </label>
                    {% else %}
                        <label class="checkbox">
                            <input type="checkbox" name="deals"> Deals
                        </label>
                    {% endif %}
                    {% if is_coins %}
                        <label class="checkbox">
                            <input type="checkbox" name="coins" checked> Coins
                        </label>
                    {% else %}
                        <label class="checkbox">
                            <input type="checkbox" name="coins"> Coins
                        </label>
                    {% endif %}
                    {% if is_balance %}
                        <label class="checkbox">
                            <input type="checkbox" name="balance" checked> Balance
                        </label>
                    {% else %}
                        <label class="checkbox">
                            <input type="checkbox" name="balance"> Balance
                        </label>
                    {% endif %}
                </div>
                <button class="btn btn-primary btn-block btn-success" name="apply" type="submit">Apply</button>
            </form>
        </div>
        <div class="text-center mb-5">
            {% if events %}
                {% for event in events %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <h5 class="card-title">{{ event.date_time }}</h5>
                        </div>
                        <div class="card-body">
                            {% if event|get_class_name == 'DealHistory' %}
                                <p class="card-text">
                                    {% if event.operation_type == 'B' %}
                                        Buy coin {{ event.coin_info }} from {{ event.rhs }} for ${{ event.price }}
                                    {% elif event.operation_type == 'S' %}
                                        Sell coin {{ event.coin_info }} to {{ event.rhs }} for ${{ event.price }}
                                    {% endif %}
                                </p>
                            {% elif event|get_class_name == 'BalanceHistory' %}
                                <p class="card-text">
                                    {% if event.operation_type == 'A' %}
                                        Add ${{ event.amount }} to balance. New balance: ${{ event.balance }}
                                    {% elif event.operation_type == 'W' %}
                                        Withdraw ${{ event.amount }} from balance. New balance: ${{ event.balance }}
                                    {% endif %}
                                </p>
                            {% elif event|get_class_name == 'CoinHistory' %}
                                <p class="card-text">
                                    {% if event.operation_type == 'A' %}
                                        Add coin {{ event.coin_info }}
                                    {% elif event.operation_type == 'E' %}
                                        Edit coin {{ event.coin_info }}
                                    {% elif event.operation_type == 'D' %}
                                        Delete coin {{ event.coin_info }}
                                    {% endif %}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="footer">
        &copy; 2023 CoinsMarketApp. All rights reserved.
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>