{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoinsMarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/index.css' %}">
</head>
<body>
    <div class="header">
        <div class="header-content">
            <h1>CoinsMarket</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-blue w-25">
            <ul class="navbar-nav mr-auto text-white">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">Account</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="main-content">
        <div class = "w-100 alert-container">
            {% if messages %}
                {%for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="coin-card text-center">
            <div onclick="location.href='{% url 'new_coin' %}';" class="card m-2" role="button" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/plus1.png' %}" class="card-img-top" alt="Plus Image">
                <div class="card-body">
                    <h5 class="card-title">Add new coin</h5>
                </div>
            </div>
            {% if coins %}
                {%for coin in coins %}
                    <div onclick="location.href='{% url 'view_coin' coin_id=coin.id %}';" class="card m-2">
                        {% if coin.image_obverse %}
                            <img src="{{ coin.image_obverse.url }}" class="card-img-top" alt="Coin Image">
                        {% else %}
                            <img src="{% static 'CoinsMarketApp/images/default_coin.jpg' %}" class="card-img-top" alt="Coin Image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{coin.par}} {{coin.get_currency_display}} {{coin.year}}</h5>
                            <p class="card-text">Price: ${{coin.price}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="footer">
        &copy; 2023 CoinsMarketApp. All rights reserved.
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
