{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoinsMarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/styles.css' %}">
</head>

<body>

    <div class="header">
        <h1>CoinsMarket</h1>
    </div>

    <div class="main-content">
        <div class="coin-card">
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin2.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin3.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin2.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin2.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin3.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin2.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin3.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin2.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin2.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin1.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
            <div class="card m-2" style="width: 18rem;">
                <img src="{% static 'CoinsMarketApp/images/coin3.jpg' %}" class="card-img-top" alt="Coin 1 Image">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin</h5>
                    <p class="card-text">Price: $50,000</p>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        &copy; 2023 CoinsMarketApp. All rights reserved.
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
