{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CoinsMarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/styles.css' %}">
    <link rel="stylesheet" href="{% static 'CoinsMarketApp/styles/new_coin.css' %}">
</head>

<body>
    <div class="header">
        <div class="header-content">
            <h1>CoinsMarket</h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-blue w-25">
            <ul class="navbar-nav mr-auto text-white">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'search' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'history' %}">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">Account</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main-content">
        <div class ="alert-container">
            {% if messages %}
                {%for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="coin-wrapper w-100 w-sm-75 w-md-50">
            <form class="form-coin" method="post" enctype='multipart/form-data'>
                {% csrf_token %}
                <h2 class="form-coin-heading">New coin info</h2>
                {{form.par}}
                {{form.currency}}
                {{form.year}}
                {{form.material}}
                {{form.weight}}
                {{form.diameter}}
                {{form.price}}
                {{form.description}}
                <p class="mt-2">Obverse and reverse image:</p>
                {{form.image_obverse}}
                {{form.image_reverse}}
                <button class="btn btn-primary btn-block" type="submit">Add</button>
                <a href="{% url 'index' %}" class="btn btn-primary btn-block btn-success">Cancel</a>
            </form>
        </div>
    </div>
    <div class="footer">
        &copy; 2023 CoinsMarketApp. All rights reserved.
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
