.button-wrapper button {
    width: calc(50% - 5px);
}

.back-button {
    width: calc(100% - 20px);
}

.back-wrapper {
    text-align: center;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}