.search-wrapper {
	margin-top: 80px;
	margin-bottom: 80px;
}

.form-search {
	max-width: 800px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-search .form-search-heading {
    margin-bottom: 30px;
    text-align: center;
}

.form-search .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-search .form-control:focus {
	z-index: 2;
}

.range-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.coin-card {
    margin: 0 10px 20px 10px;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
    display: block;
}

@media (min-width: 576px) {
    .coin-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
