<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <a class="btn btn-link btn-block" onclick="logout()">Log Out</a>
        <div class="form-group">
            <label for="dateInput">Select Date:</label>
            <input type="date" class="form-control" id="dateInput" value="{% now 'Y-m-d' %}">
        </div>

        <ul class="list-group" id="taskList">

        </ul>

        <button class="btn btn-primary" onclick="location.href='/home/create_task'">Add Task</button>
    </div>

    <script>
        function logout() {
            const authToken = localStorage.getItem('authToken');
            if (authToken) {
                localStorage.removeItem('authToken');
                fetch('/api/logout/', {
                    method: 'GET',
                    headers: {
                        'Authorization': `Bearer ${authToken}`,
                    },
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Logout successful');
                        window.location.href = '/home/login/';
                    } else {
                        console.error('Logout failed');
                    }
                })
                .catch(error => {
                    console.error('Error during logout:', error);
                });
            } else {
                window.location.href = '/home/login/';
            }
        }

        function fetchTasks(date) {
            const apiUrl = `/api/tasks/${date}`;
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    const taskList = document.getElementById('taskList');
                    taskList.innerHTML = '';  // Clear existing list items

                    data.forEach(task => {
                        const listItem = document.createElement('li');
                        listItem.className = 'list-group-item';
                        const statusIcon = task.status ? '✔' : ' ';
                        listItem.innerHTML = `<strong class="task" data-task-id="${task.id}">${task.name} ${statusIcon}</strong>`;
                        taskList.appendChild(listItem);
                    });

                    const editTaskLinks = document.querySelectorAll('.task');
                    editTaskLinks.forEach(link => {
                        link.addEventListener('click', function () {
                            const taskId = this.getAttribute('data-task-id');
                            window.location.href = `/home/task/${taskId}/`;
                        });
                    });
                })
                .catch(error => console.error('Error fetching tasks:', error));
        }

        function fetchTasksCurr() {
            const currentDateInput = document.getElementById('dateInput');
            const initialDate = currentDateInput.value || new Date().toISOString().split('T')[0];
            currentDateInput.value = initialDate;  // Set the current date to the input
            fetchTasks(initialDate);
        }

        document.addEventListener('DOMContentLoaded', function () {
            const authToken = localStorage.getItem('authToken');

            if (!authToken) {
                window.location.href = '/home/login/';
            }

            const currentDateInput = document.getElementById('dateInput');
            const initialDate = currentDateInput.value || new Date().toISOString().split('T')[0];
            currentDateInput.value = initialDate;  // Set the current date to the input
            fetchTasks(initialDate);

            currentDateInput.addEventListener('change', function () {
                fetchTasks(this.value);
            });
        });

        window.addEventListener('load', function () {
            const currentDateInput = document.getElementById('dateInput');
            const initialDate = currentDateInput.value || new Date().toISOString().split('T')[0];
            currentDateInput.value = initialDate;
            fetchTasks(initialDate);
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>