{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Signup - Planner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'Planner/styles/login.css' %}">
</head>

<body>

    <div class="header">
        <h1>Planner</h1>
    </div>
    <div class="main-content">
        <div class="alert-container" id="alertContainer"></div>
        <div class="login-wrapper">
            <div class="form-signin">
                {% csrf_token %}
                <h2 class="form-signin-heading">Signup</h2>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="" maxlength="30" autofocus=""/>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" required=""/>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required=""/>
                <button class="btn btn-lg btn-primary btn-block" onclick="signup()">Signup</button>
                <button class="btn btn-link btn-block" onclick="window.location.href='/home/login'">Already have an account? Log In</button>
           </div>
        </div>
    </div>
    <div class="footer">
        &copy; 2023 Planner. All rights reserved.
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const authToken = localStorage.getItem('authToken');
            if (authToken) {
                window.location.href = '/';
            }
        });

        function signup() {
            const username = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

            fetch('/api/signup/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({ username, email, password }),
            })
            .then(response => {
                if (!response.ok) {
                    response.json().then(data => {
                        displayError(data.error);
                    })
                    return Promise.reject();
                }
                return response.json();
            })
            .then(data => {
                window.location.href = '/home/login';
            })
            .catch(error => {
                console.log('Failed to signup');
            });
        }

        function displayError(message) {
            console.log(message);
            const alertElement = document.createElement('div');
            alertElement.className = 'alert alert-danger alert-dismissible fade show';
            alertElement.innerHTML = `
                ${message}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            `;
            const alertContainer = document.getElementById('alertContainer');
            alertContainer.appendChild(alertElement);
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
